# Default owners
* @elastic/obs-infraobs-integrations @elastic/obs-ds-intake-services

# These owners will be the default owners for everything in
# the repo.
remappers/       @elastic/obs-infraobs-integrations
enrichments/     @elastic/obs-ds-intake-services
